{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
      "indent": [
          "error",
          "tab"
      ],
      "linebreak-style": [
          "error",
          "unix"
      ],
      "no-tabs": 0,
      "quotes": 1,
      "semi": [
          "error",
          "always"
      ],
      "no-console": 0,
      "import/no-extraneous-dependencies": [
          "error",
          {
              "devDependencies": [
                  "dist/*.js",
                  "packing/*.js"
              ]
          }
      ]
  }
}
