{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "env": {
    "es6": true
  },
  "rules": {
      "indent": [
          "error",
          4
      ],
      "linebreak-style": [
          "error",
          "unix"
      ],
      "quotes": 1,
      "semi": [
          "error",
          "always"
      ],
      "no-console": 0,
      "import/no-extraneous-dependencies": [
          "error",
          {
              "devDependencies": [
                  "dist/*.js"
              ]
          }
      ]
  }
}
