<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="index.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	</head>
	<body>
		<div class="banner">
			<div id="error">
				<div id="error-content"></div>
				<div id="dismiss">&times;</div>
			</div>
			<svg id="svg-title" xmlns="http://www.w3.org/2000/svg" width="627.34" height="111.17" viewBox="0 0 627.34 111.17">
				<defs>
					<style>
						.cls-1 { fill: #8dc154; }
						.cls-2 { fill: #fc5e39; }
						.cls-3 { fill: #0c3587; }
						.cls-4 { fill: #28bed4; }
						.cls-5 { fill: #fd992a; }
						.cls-6, .cls-7, .cls-8 { fill: none; stroke-miterlimit: 10; }
						.cls-6 { stroke: #28bed4; }
						.cls-7 { stroke: #fc5e39; }
						.cls-8 { stroke: #8dc154; }
					</style>
				</defs>
				<g>
					<g>
						<path class="cls-1" d="M612.8,88.66c-2.65,4.48-9,8.42-17.85,8.42-20.68,0-31.76-14.64-31.76-33.77,0-20,12-33.68,32.49-33.68,11.62,0,22.79,4.58,29.38,14.64l-15.74,7.87c-2-5.67-8.51-8.24-13.54-8.24-10.71,0-15,8.6-15,19.4s5.58,19.49,14.55,19.49c10.8,0,14.37-7.14,14.37-11.17v-.18H597V59h28.1V95.61H615Z"/>
						<path class="cls-2" d="M14.3,75.94c2.2,3.11,8.6,7.5,16.75,7.5,5.58,0,9-2,9-5.22,0-5.22-5.77-5.77-16.38-8.42C10.91,66.6,5.6,60,5.6,50.59c0-11.07,8.79-21,25.81-21C41.3,29.63,51,32.92,57,40l-11,10.25a20.32,20.32,0,0,0-15.56-7c-6.41,0-7.78,2.65-7.78,4.94,0,3,2.56,5.4,10.89,7.5C52.37,60.47,57,66.42,57,76.21c0,13.73-12.26,20.87-26.45,20.87-13.73,0-23-4.67-27.27-9.88Z"/>
						<path class="cls-3" d="M155.27,0h16.47V52.17h27.55V64.62h-44Z"/>
						<path class="cls-4" d="M305.41,31h14.64l25.26,64.61H328l-4.58-13.18H301.57L297,95.62H280.15ZM319,70c-2.2-6.5-4.39-12-6.59-20-1.83,7.5-4.39,13.45-6.59,20Z"/>
						<path class="cls-5" d="M423.11,0h18c9.52,17.76,16.75,30.29,21.6,41.37C461.82,26.91,462.1,13.64,462,0h15.47V64.61h-18c-7.6-14.09-18.12-33-21.6-41.37.82,14.74.55,27.73.73,41.37H423.11Z"/>
						<polyline class="cls-6" points="343.94 110.51 337.66 105.06 331.37 110.51 325.08 105.06 318.79 110.51 312.5 105.06 306.22 110.51 299.93 105.06 293.64 110.51 287.35 105.06 281.06 110.51"/>
						<polyline class="cls-7" points="63.21 110.51 56.92 105.06 50.63 110.51 44.34 105.06 38.06 110.51 31.77 105.06 25.48 110.51 19.19 105.06 12.9 110.51 6.62 105.06 0.33 110.51"/>
						<polyline class="cls-8" points="627.01 110.51 620.73 105.06 614.44 110.51 608.15 105.06 601.86 110.51 595.57 105.06 589.29 110.51 583 105.06 576.71 110.51 570.42 105.06 564.13 110.51"/>
					</g>
				</g>
			</svg>
		</div>
		<div id="controls">
			<div class="controls-left">
				<div class="button" data-run>Run</div>
				<div class="button red" data-stop>Stop</div>
			</div>
			<div class="controls-center">
				<div class="status" data-status>Stopped</div>
			</div>
			<div class="controls-right">
				<div class="button blue" data-url>Create URL</div>
				<a href="https://github.com/kylestetz/slang#how-to-write-slang" class="button gray" target="docs">Docs</a>
			</div>
		</div>
		<div id="editor"></div>
		<footer>
			<a href="https://github.com/kylestetz/slang">Slang on GitHub</a> &mdash;
			<a href="https://twitter.com/kylestetz">Created by @kylestetz</a>
		</footer>
		<script>window.slangPatch = `<%= patch.text %>`;</script>
		<script src="build/site.js"></script>
	</body>
</html>