<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/app.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	</head>
	<body>
		<div class="banner">
			<div id="error">
				<div id="error-content"></div>
				<div id="dismiss">&times;</div>
			</div>
			<img id="svg-title" src="/img/logo.svg" width="100%" />
		</div>
		<div id="controls">
			<div class="controls-left">
				<div class="button" data-run>Run</div>
				<div class="button red" data-stop>Stop</div>
			</div>
			<div class="controls-center">
				<div class="status" data-status>Stopped</div>
			</div>
			<div class="controls-right">
				<div class="button blue" data-url>Create URL</div>
				<a href="https://github.com/kylestetz/slang#how-to-write-slang" class="button gray" target="docs">Docs</a>
			</div>
		</div>
		<div id="editor"></div>
		<footer>
			<a href="https://github.com/kylestetz/slang">Slang on GitHub</a> &mdash;
			<a href="https://twitter.com/kylestetz">Created by @kylestetz</a>
		</footer>
		<script>window.slangPatch = `<%= patch %>`;</script>
		<script src="/slang.app.js"></script>
	</body>
</html>